.navbar-nav .nav-link.active { 
    color: white;
}

.nav-link.nav-link { 
    text-align: center;
}

section { 
    height: 100vh;
    background-color: antiquewhite;
    padding-top: 90px;
}

header { 
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}